.blogs {
  &__title {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    letter-spacing: 0.05em;
    text-align: left;
    padding: 100px 0px 10px;
  }

  &__cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }

  &__card {
    background-color: #edf2f4;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__card__title {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    letter-spacing: 0.05em;
    text-align: left;
    padding: 20px 0px;
  }

  &__card__desc {
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.36px;
    text-align: left;
    display: -webkit-box;
    line-clamp: 8;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
  }

  &__card__info {
    width: 60%;
  }

  &__card__img {
    width: 30%;
    img {
      width: 100%;
    }
  }

  &__card {
    background-color: #edf2f4;
    border-radius: 10px;
    padding: 20px;
  }

  &__info__title {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-align: left;
    padding: 20px 0px;
  }

  &__info__text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    display: -webkit-box;
    line-clamp: 6;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
  }

  @media (max-width: 750px) {
    &__card {
      flex-direction: column;
    }

    &__card__info {
      width: 80%;
    }
    &__card__img {
      order: -1;
      width: 80%;
    }
  }

  @media (max-width: 500px) {
    &__card {
      flex-direction: column;
      gap: 10px;
    }

    &__card__info {
      width: 100%;
    }
    &__card__img {
      order: -1;
      width: 100%;
    }
  }
}
